.clickable-row:hover {
    cursor: pointer;
    background-color: rgb(226, 223, 223);
    color: rgb(0, 0, 0);
  }

  .right-aligned-div {
    text-align: right;
    margin-bottom: 10px;
    position: sticky;
  }